html{
    font-size: 62.5%;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('/src/images/bg-desktop.svg');
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-color: hsl(257, 40%, 49%);
    color: white;
}
.header{
    display: block;
    margin: 40px 0px 0px 50px;
}
.header img{
    width: auto;
    height: auto;
    margin: 0 0 0 -10px;
}
.main{
    display: flex;
    justify-content:flex-start;
    margin: 35px 40px 70px 20px;
}
.main img{
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.main .text{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 50px;
}
.main .text h1{
    font-size: 4rem;
    font-weight: bolder;
    margin: 0 0 25px;
    width: 100%;
}
.main .text p{
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 25px;
    max-width: 580px;
    text-align: justify;
}
.main .btn{
    max-width: 250px;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 25px;
    font-size: 2rem;
    transition: 0.2s ease-in-out;
    color: hsl(257, 40%, 49%);
}
.main .btn:hover{
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}
.social{
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    margin-right: 90px;
    padding: 0;
}
.social a{
    margin-left: 30px;  
}
.social a i{
    transition: 0.2s ease-in-out;
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 50%
}
.social a i:hover{
    color: hsl(300, 69%, 71%);
}
.social a i:hover{
    border-color: hsl(300, 69%, 71%);
    transition: 0.2s ease-in-out;
}